{% load static %}
<div class="row question">
    <div class="row">
        <div class="col-2" style="padding: 0px 25px; margin: 5px 0px;">

            <img class="avatar" src="{% static "img/avatar.jpg" %}">
            <div class="number">
                <button class="number-minus btn btn-primary" type="button">like</button>
                <input type="number" min="0" value="{{ question.votes.likes.count }}" readonly>
            </div>
        </div>
        <div class="col-10">
            <p style="margin: 0px">
                <a href="{% url "open_question" qid=question.id %}" class="topic-thm">
                    {{ question.question_title }}
                </a>
            </p>
            <div>
                {{ question.question_text }}
            </div>
            <div class="row topic-meta-info">

                <div>
                    <span>
                        Tags:
                        {% for tag in question.tags.all %}
                            <a class="pop-tag" href="{% url 'tag' tid=tag %}" class="btn-light btn-sm"> {{ tag }} </a>
                        {% endfor %}

                        <small class="text-muted">Published: {{ question.pub_date }}</small>
                    </span>


                </div>

            </div>
        </div>
    </div>
</div>