{% extends "include/base.html" %}

{% block head %}
    <div class="row quest-head">
        <div class="col-6">
            <em class="title">New Question</em>
        </div>
    </div>
{% endblock head %}

{% block content %}
    <form>
        <div class="row g-3 align-items-center new-question-field">
            <div class="col-2">
                <label class="col-form-label">Title</label>
            </div>
            <div class="col-10">
                <input class="form-control field" maxlength="80">
            </div>
        </div>
        <div class="row g-3 align-items-center new-question-field">
            <div class="col-2">
                <label class="col-form-label">Text</label>
            </div>
            <div class="col-10">
                            <textarea rows="10" class="form-control field" style="height: 250px;"
                                      maxlength="1000"></textarea>
            </div>
        </div>
        <div class="row g-3 align-items-center new-question-field">
            <div class="col-2">
                <label class="col-form-label">Tags</label>
            </div>
            <div class="col-10">
                <input class="form-control field" maxlength="50">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-dark" style="margin-right: 570px; margin-top: 5px;">
            Submit
        </button>

    </form>
{% endblock content %}

{% block pop_tags %}
    {% include "include/pop_tags.html" %}
{% endblock pop_tags %}

{% block paginator %}

{% endblock paginator %}
