{% extends "include/base.html" %}
{% load static %}

{% block head %}
    <div class="row quest-head">
        <div class="col-6">
            <em class="title">Log In</em>
        </div>
    </div>
{% endblock head %}

{% block content %}

    <div class="row login">
        <div class="row">
            <div class="col-2">
                <label class="col-form-label">Email address</label>
            </div>
            <div class="col-6">
                <div class="mb-3 log-field">
                    <input type="email" class="form-control" placeholder="name@example.com">
                </div>
            </div>
            {#            <!-- <div class="col-4 col-form-label" style="color: red;">error</div> -->#}
        </div>
        <div class="row">
            <div class="col-2">
                <label for="inputPassword" class="col-form-label">Password</label>
            </div>
            <div class="col-6">
                <div class="mb-3 log-field">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <!-- <div class="col-4 col-form-label" style="color: red;">error</div> -->
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-dark" style="margin: -5px 0px 15px;">Login
                </button>
            </div>
            <div class="col-4 col-form-label" style="color: red;">

            </div>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-6">
                <a href="/signup">create a new account</a>
            </div>
            <div class="col-4 col-form-label" style="color: red;">

            </div>
        </div>
    </div>


{% endblock content %}

{% block paginator %}

{% endblock paginator %}

{% block pop_tags %}
    {% include "include/pop_tags.html" %}
{% endblock pop_tags %}
