{% extends "include/base.html" %}

{% block head %}

{% endblock head %}

{% block content %}
    {% include "include/open_question.html" %}

    <hr>
    {% for comment in comments %}
        {% include "include/answer.html" %}
    {% endfor %}
    <hr>

    <div class="row" style="text-align: left;">
        <form>
            <div class="mb-3">
                            <textarea class="form-control field" style="height: 100px;"
                                      placeholder="Enter your answer here"></textarea>
            </div>

            <button type="submit" class="btn btn-outline-dark" style="margin: -5px 0px 15px;">Submit
            </button>
        </form>

    </div>

{% endblock content %}

{% block paginator %}
    {% include "include/pagination.html" %}
{% endblock paginator %}

{% block pop_tags %}
    {% include "include/pop_tags.html" %}
{% endblock pop_tags %}



